@charset "utf-8";

@import url("./root.css");

body {
    background: url(../assets/img/accueil/travel-g5d21d0563_1920.jpg);
}

main {
    margin: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

section input {
    border: 0.1rem solid black;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

section input:focus {
    box-shadow: inset 0 0 1.3rem gray;
    border: 0.1rem solid gray;
}

section form {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: var(--border-radius);
}

a {
    color: black;
}

/* ********************************* media queries pour l'adaptatif */
@media (min-width: 576px) {
    main {
        padding: 1rem 2rem;
    }

    main {
        padding: 1rem 2rem;
    }
}

@media (min-width: 768px) {
    section form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section input[type="submit"] {
        margin-top: 3rem;
    }

    section {
        margin: 18% 0;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}