@charset "utf-8";
@charset "UTF-8";
@import url("./root.css");


/* section {
    display: flex ;
    flex-direction: column;
    align-items: center;
} */
main{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
div{
    display: flex ;
    flex-direction: column;

}
.btnCreationCompte{
    font-size:  xx-small;
    flex-direction: row;
}


label{
    font-size: var(--font-size-12pt); 
}

a {
    font-size: 1rem;
    margin-top: 5%;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p {
    font-size: 1rem;
    margin-top: 5%;
    
}
.btnConditionGeneral{
    font-size: 8px;
}



input[type="submit"]

{margin-top: 10px;
    width: 100%;
height: 50px;
font-size: 1rem;
background-color: rgb(54, 98, 216); ;
color:white;
  
border-radius: var(--border-radius);
}

input[type="submit"]:hover{
    background-color: rgb(41, 80, 184);
    
}



input[type="text"]

{
    width: 100%;
    padding: 8px;
     
    border-radius: var(--border-radius);
}
/* ********************************* media queries pour l'adaptatif */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
