@charset "utf-8";

@import url("./root.css");

.popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#connexion,
#creerCompte,
#recuperationMdp {
    visibility: hidden;
    opacity: 0;
}

#connexion:target,
#creerCompte:target,
#recuperationMdp:target {
    visibility: visible;
    opacity: 1;
}

.cross {
    position: absolute;
    font-size: 6rem;
    color: var(--red);
    line-height: 0;
}

.connexionCross {
    margin-left: 22rem;
}

.creerCompteCross {
    margin-left: 19.5rem;
}

.recuperationMdpCross {
    margin-left: 21.5rem;
}

.form-wrapper {
    background: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-size: var(--font-size-12pt);
}

.form-wrapper>form a,
.buttonPopup a,
.cross:hover {
    color: blue;
}

.form-wrapper a {
    text-decoration: none;
}

.form-wrapper>form a:hover,
.buttonPopup a:hover {
    text-decoration: underline;
}

.conditions {
    margin: 15px 0 15px 0;
}

.form-wrapper input[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    background-color: rgb(54, 98, 216);
    color: white;
    border-radius: var(--border-radius);
}

.form-wrapper input[type="submit"]:hover {
    background-color: rgb(41, 80, 184);
}

.form-wrapper input[type="text"],
.form-wrapper input[type="password"] {
    width: 100%;
    height: 35px;
    border-radius: var(--border-radius);
}

.form-wrapper input[type="text"]:focus,
.form-wrapper input[type="password"]:focus {
    box-shadow: inset 0 0 1.3rem gray;
    border: 0.1rem solid gray;
}

/* ********************************* media queries pour l'adaptatif */
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}