@charset "utf-8";

@import url("./root.css");

/* barre d'informations de recherche */
.searchInfo {
    background-color: #63cdda;
    display: flex;
    justify-content: center;
}

.searchInfoElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.gares {
    display: flex;
    align-items: center;
}

.arrow-left {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
}

.btnModif {
    font-family: "EconomicaRegular", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-14pt);
    border-radius: var(--border-radius);
    width: 60px;
    height: 27px;
    background-color: rgb(54, 98, 216);
    color: white;
    cursor: pointer;
}

.btnModif:hover {
    background-color: rgb(41, 80, 184);
}

/* Affichage des resultats */
.result-wrapper ul {
    list-style-type: none;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.result-list {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.result-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border: 1px solid black;
    border-radius: var(--border-radius);
    background-color: white;
    margin: 20px 0 20px 0;
    /* remplace space-between sur .result-list  */
}

.info-trajet {
    height: 95px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5% 0 5%;
}



.horaire-societe {
    display: flex;
    flex-direction: column;
}

.horaires {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Info supplementaire a faire apparaitre en JS */
.expanded {
    height: 500px;
}

.expandedInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid black;
    width: 80%;
    height: 355px;
}

.itineraire-valider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.itineraire {
    border: 5px solid turquoise;
    border-radius: var(--border-radius);
}

.info-embarquement {
    font-size: var(--font-size-12pt);
    margin-left: 10%;
    width: 50%;
}

.retour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.btnValider {
    font-family: "EconomicaRegular", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-14pt);
    border-radius: var(--border-radius);
    width: 100px;
    height: 27px;
    background-color: rgb(54, 98, 216);
    color: white;
    cursor: pointer;
}

/* Fleche expand */
.arrow-expand {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-arrow {
    width: 25px;
    height: 25px;
}

.arrow-expand:hover {
    background-color: #3dc1d3;
    cursor: pointer;
}


/* ********************************* media queries pour l'adaptatif */
@media (min-width: 576px) {
    .info-trajet {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 2% 0 0 0;
    }

    .horaire-societe {
        flex-direction: row;
        justify-content: space-between;
        width: 44%;
    }
}

@media (min-width: 768px) {
    .searchInfoElements {
        width: 80%;
    }

    .horaire-societe {
        width: 42%;
    }
}

@media (min-width: 992px) {
    .result-list {
        width: 80%;
    }

    .searchInfoElements {
        width: 70%;
    }

    .horaire-societe {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .searchInfoElements {
        width: 60%;
    }

    .horaire-societe {
        width: 39%;
    }
}

@media (min-width: 1400px) {
    .searchInfoElements {
        width: 50%;
    }

    .result-list {
        width: 70%;
    }
}

@media (min-width: 1600px) {}